# Gradle files
.gradle/

# IntelliJ files
.idea/
*.iml

# Build files
build/
.externalNativeBuild
*.so
*.apk

# Lib assets

# Local settings
local.properties
gradle/configuration.gradle

# Token file

# Twitter Fabric / Crashlytics
fabric.properties

# Capture files
captures/

# Generated test cases

mason_packages
